$gradient: linear-gradient(105.96deg, #FFC26B -6.45%, #FF8D8E 109.09%);

// LIGHT THEME
$color-bg-light: #FFFFFF;
$color-txt-light: #191919;

// DARK THEME
$color-bg-dark: #191919;
$color-txt-dark: #FFFFFF;

// COLORS
$salmon: #F54748;
$yellow: #FDC55E;